@import '../../sass/variables';

.NavBar {
    height: 6rem;
    background-color: $color-primary-blue;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        line-height: 0;
        display: flex;
        align-items: center;

        & .gamepad {
            position: relative;
            top: 2rem;
            font-size: 4rem;
            color: $color-primary-white;
            margin-right: 4rem;
            cursor: pointer;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        & a {
            color: $color-primary-white !important;
            font-size: 2rem;
            margin: 0 1rem;
        }

    }
    
    // &__button {
    //     background-color: $color-secondary-blue !important;
    //     padding: .2rem .8rem;
    //     font-size: 1.4rem !important;
    //     color: $color-primary-white !important;
    //     border-radius: .3rem;
    // }
}